<div *ngIf="products">
  <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-1  row-cols-xs-1 row-cols-md-2 row-cols-xl-3 justify-content-center" >
    <div class="col col-sm col-md	col-lg	col-xl col-xs mb-5"  *ngFor="let p of products._embedded.products">
      <div class="card h-100">
        <img class="card-img-top sizephone" (click)="onProductDetails(p)" src="assets/image/unknown.png"/> <!--[src]="this.catService.host+'/photoProduct/'+p.id+'?ts='+getTS()"/>
        <!--
        <div *ngIf="this.authService.isAdmin()">
          <button (click)="onEditPhoto(p)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <p *ngIf="editPhoto && currentProduct==p">
            <input type="file" (change)="onSelectedFile($event)">
            <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
            {{progress}}
          </p>
        </div>
        -->
        <div class="card-body p-4">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.description}}</p>
          <div>
            <label>Price : {{p.currentPrice}}</label>
          </div>
          <a href="#" class="btn btn-primary">Panier</a>
        </div>

        <div>
        <span *ngIf="p.promotion">
                <img src="assets/image/promo.png" class="img-thumbnail img-circle" height="30">
              </span>
          <span *ngIf="p.selected">
                <img src="assets/image/favorite.png" class="img-thumbnail img-circle" height="30">
              </span>
          <span *ngIf="p.available">
                <img src="assets/image/available.png" class="img-thumbnail img-circle"  height="30">
              </span>
        </div>
        <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(p)">
          <label class="control-label">Quantité :</label>
          <input type="number" name="quantity" [(ngModel)]="p.quantity" ngModel style="width: 40px">
          <button>
            <img src="assets/image/caddy.png">
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
