<!------   card  ---->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-year"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <h3 class="title">Adresses</h3>
            <p class="description">
              Rte Teniour: km 4 imm fleur de lys mag.n 4
            </p>
            <p class="description">
              Rte Tunis: rte sakiet ezzit 3021 sfax-tunisie
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-year"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
            <h3 class="title">Contact</h3>
            <p class="description">
              Téléphone: +216 00 000 000
            </p>
            <p class="description">
              Email: bestphones@bestphones.tn
            </p>
            <p class="description">
              Heures d'ouverture: Toute la semaine  09-18
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

