
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Aller Shopper avec nous</h1>
      <p class="lead fw-normal text-white-50 mb-0">Bienvenue chez best phones</p>

    </div>
  </div>
</header>



<div class="container">
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-4 col-xl-3 px-sm-3 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a routerLink="/generale" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Famille</span>
        </a>


        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item " [ngClass]="currentCategorie==c?'active':''"   *ngFor="let c of categories._embedded.categories">
            <a (click)="getProductsByCat(c)" class="nav-link text-white font-italic align-middle px-0">
              <i class="{{c.icon}}"></i> <span class="ms-1 d-none d-sm-inline">{{c.name}}</span>
            </a>
          </li>
        </ul>


        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <app-produit></app-produit>
    </div>
  </div>
</div>
</div>
