
<!--   form contact   --->

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-2"></div>
    <div class="col-md-offset-2 col-md-8">
      <form class="form-horizontal"  #ContactForm="ngForm">
        <div class="header">Laissez-nous un message</div>


        <div class="form-content">
          <div class="form-group">

            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Nom *"
                id="nom"
                value=""
                [(ngModel)]="nom"
                type="text"
                #nomInput="ngModel"
                required
                ngModel
                name="nom"
                minlength="3"
                required=""
                aria-required="true"
              >
              <label class="control-label" for="nom"><i class="fa fa-user"></i></label>
            </div>

            <div
              *ngIf="nomInput.invalid && nomInput.dirty"
              class="alert alert-danger"
            >
              Le nom est obliogatoire et doit être correct
            </div>



            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Prénom *"
                value=""
                [(ngModel)]="prenom"
                #prenomInput="ngModel"
                required
                ngModel
                id="prenom"
                name="prenom"
                minlength="3"
                required=""
                aria-required="true">
              <label class="control-label" for="prenom"><i class="fa fa-envelope-o"></i></label>
            </div>
            <div
              *ngIf="prenomInput.invalid && prenomInput.dirty"
              class="alert alert-danger"
            >
              Le prenom est obliogatoire et doit être correct
            </div>
          </div>





          <div class="form-group">

            <div class="col-sm-12">
              <input
                class="form-control"
                placeholder="Téléphone *"
                value=""
                [(ngModel)]="telephone"
                #telephoneInput="ngModel"
                required
                ngModel
                pattern="[0-9]{8}"
                id="telephone"
                name="telephone"
                length="12"
                type="text"
                required=""
                aria-required="true"
              >
            </div>
            <div
              *ngIf="telephoneInput.invalid && telephoneInput.dirty"
              class="alert alert-danger"
            >
              Le téléphone est obliogatoire et doit être correct
            </div>



            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Sujet *"
                value=""
                [(ngModel)]="sujet"
                required
                ngModel
                id="sujet"
                name="sujet"
                #sujetInput="ngModel"
              >
            </div>
            <div
              *ngIf="sujetInput.invalid && sujetInput.dirty"
              class="alert alert-danger"
            >
              Il faut saisir votre sujet
            </div>



          <div class="col-sm-12">
             <textarea
               placeholder="Message *"
               class="form-control"
               rows="5"
               value=""
               [(ngModel)]="message"
               #messageInput="ngModel"
               required
               ngModel
               id="message"
               name="message"
               type="text"
               required=""
               aria-required="true"
             ></textarea>
          </div>
            <div
              *ngIf="messageInput.invalid && messageInput.dirty"
              class="alert alert-danger"
            >
              Le message est obliogatoire
            </div>

          </div>
        </div>
        <div class="footer clearfix">
          <button
            type="submit"
            class="btn btn-default"
            (click)=" ajoutContact(ContactForm.value)"
            [disabled]="ContactForm.invalid"
          >Envoyer un message</button>

        </div>
      </form>
    </div>
  </div>
</div>





<!------   card  ---->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-year"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <h3 class="title">Adresses</h3>
            <p class="description">
              Rte Teniour: km 4 imm fleur de lys mag.n 4
            </p>
            <p class="description">
              Rte Tunis: rte sakiet ezzit 3021 sfax-tunisie
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-year"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
            <h3 class="title">Contact</h3>
            <p class="description">
              Téléphone: +216 00 000 000
            </p>
            <p class="description">
              Email: bestphones@bestphones.tn
            </p>
            <p class="description">
              Heures d'ouverture: Toute la semaine  09-18
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
