<!-- Navigation

<nav class="navbar navbar-expand-lg h6-nav-bar">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/image/logo2.jpg" alt="" width="100px"/>
  </a>
</nav>
-->










<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(53,176,171,0.85);">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand"   routerLink="">BEST PHONE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" (click)="accueil()">Accueil</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Magasiner </a>
          <ul class="dropdown-menu fade-up" style="background-color: rgba(53,176,171,0.85);">
            <li><a class="dropdown-item" routerLink="/generale"> Par catégorie</a></li>
            <li><a class="dropdown-item" (click)="topoffre()">Top offres </a></li>
            <li><a class="dropdown-item"(click)="onProductsDispo()">Produits disponibles </a></li>
            <li><a class="dropdown-item" (click)="onProductsPromo()">Produits en promotions </a></li>
            <li><a class="dropdown-item" (click)="dernierajoute()">Dernier ajoute </a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" (click)="nosmagasins()">Nos magasins</a></li>
        <li class="nav-item"><a class="nav-link" (click)="contact()">Contact</a></li>
      </ul>


      <form class="navbar-form navbar-right" #rechercheForm="ngForm" >
        <div class="input-group">
          <input
            type="text"
            placeholder="search..."
            class="form-control"
            [(ngModel)]="motarechercher"
            #motarechercherInput="ngModel"
            id="motarechercher"
            name="motarechercher">
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="chercherUnProduit(rechercheForm.value)">Go</button>
          </span>
        </div>
      </form>
      <form class="d-flex p-2" >
      <button class="btn btn-outline-dark " type="submit" (click)="affichePanier()">
        <i class="fa fa-shopping-cart"></i>
        <span class="badge bg-dark text-white ms-1 rounded-pill">{{nbItem}}</span>
      </button>
    </form>
      <div>
      <button *ngIf="!this.serviceClient.isAuthenticated()" class="btn btn-outline-dark" type="submit" (click)="Uncompte()">Mon Compte</button>
      </div>
      <div>
        <button *ngIf="this.serviceClient.isAuthenticated()" class="btn btn-outline-dark" type="submit" (click)="Deconnecter()">Déconnecter</button>
      </div>
    </div>
  </div>
</nav>




<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #93d3ab;" *ngIf="this.serviceClient.isAuthenticated()">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand"   routerLink="">Bienvenue chez  BEST PHONE  {{this.serviceClient.clientactuel.prenom}} {{this.serviceClient.clientactuel.nom}} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    <li class="nav-item"><a class="nav-link" (click)="monProfil()">Mon Profil</a></li>
      <li class="nav-item"><a class="nav-link" (click)="modifierProfil()">Modifier mon Profil</a></li>
    <li class="nav-item"><a class="nav-link" (click)="mesCommandes()">Mes Commandes</a></li>
      <li class="nav-item"><a class="nav-link" (click)="MesFavoris()">Mes Favoris</a></li>
    </ul>
    </div>
  </div>
</nav>


<!--

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="clickable" (click)="onSelectedProducts()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clickable" (click)="onProductsPromo()">Promotion</a></li>
          <li><a class="clickable" (click)="onProductsDispo()">Disponibles</a></li>
        </ul>
      </li>
      <li><a routerLink="/caddy">Caddy</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul *ngIf="!this.authService.isAuthenticated()" class=" nav navbar-nav pull-right">
      <li>
        <a (click)="onLogin()"class="btn">
          <span class="glyphicon glyphicon-log-in"></span>
        </a>
      </li>
    </ul>
    <ul *ngIf="this.authService.isAuthenticated()" class=" nav navbar-nav pull-right">
      <li>
        <a (click)="onLogout()"class="btn">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
    <ul class=" nav navbar-nav pull-right">
      <li>
        <a routerLink="/caddy">
          <span class="badge">{{caddyService.currentCaddyName}} :
            {{caddyService.getSize()}}</span>
          <img class="img-circle img-thumbnail img-rounded" src="assets/images/caddy.png">
        </a>
      </li>
    </ul>
  </div>
</nav>

-->
