
<nav class="navbar navbar-expand-lg navbar-light  position " style="background-color: rgba(53,176,171,0.85);">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" (click)="accueil()"><i class="fa fa-ravelry" aria-hidden="true"  style='font-size:30px;color:rgba(0,0,0,0.93)'></i>BEST PHONE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" (click)="accueil()">Accueil</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><strong>Catégories</strong>   </a>
          <ul class="dropdown-menu fade-up" style="background-color: rgba(53,176,171,0.85);">
            <li><a class="dropdown-item" (click)="tousProduits()"> Tous les produits</a></li>
            <li><a class="dropdown-item"(click)="onProductsDispo()">Produits disponibles </a></li>
            <li><a class="dropdown-item" (click)="onProductsPromo()">Produits en promotions </a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" (click)="nosmagasins()">Nos magasins</a></li>
        <li class="nav-item"><a class="nav-link" (click)="contact()">Contact</a></li>
      </ul>


      <form class="navbar-form navbar-right" #rechercheForm="ngForm" >
        <div class="input-group">
          <input
            type="text"
            placeholder="search..."
            class="form-control"
            [(ngModel)]="motarechercher"
            #motarechercherInput="ngModel"
            id="motarechercher"
            name="motarechercher">
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="chercherUnProduit(rechercheForm)">Go</button>
          </span>
        </div>
      </form>
      <form class="d-flex p-2" >
      <button class="btn btn-outline-dark " type="submit" (click)="affichePanier()">
        <i class="fa fa-shopping-cart"></i>
        <span class="badge bg-dark text-white ms-1 rounded-pill">{{nbItem}}</span>
      </button>
    </form>
      <div>
      <button *ngIf="!this.serviceClient.isAuthenticated()" class="btn btn-outline-dark" type="submit" (click)="Uncompte()">Se connecter</button>
      </div>
      <div>
        <button *ngIf="this.serviceClient.isAuthenticated()" class="btn btn-outline-dark" type="submit" (click)="Deconnecter()">Déconnecter</button>
      </div>
    </div>
  </div>
</nav>




<nav class="navbar navbar-expand-lg navbar-light position2" style="background-color: rgba(11,176,154,0.85);" *ngIf="this.serviceClient.isAuthenticated()">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand"   routerLink="" *ngIf="idclient!=null">Bienvenue chez  BEST PHONE  {{this.serviceClient.clientactuel.prenom}} {{this.serviceClient.clientactuel.nom}} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    <li class="nav-item"><a class="nav-link" (click)="monProfil()">Mon Profil</a></li>
      <li class="nav-item"><a class="nav-link" (click)="modifierProfil()">Modifier mon Profil</a></li>
      <li class="nav-item"><a class="nav-link" (click)="mesCommandes()">Mes Commandes</a></li>
    <!--  <li class="nav-item"><a class="nav-link" (click)="MesFavoris()">Mes Favoris</a></li>-->
    </ul>
    </div>
  </div>
</nav>





