<div *ngIf="currentProduct && admin==undefined">
  <div class="divider py-5 bg-light"></div>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
  <div class="demo">
    <div class="container">
      <div class="row">
        <div class=" col-lg-12 col-md-12 col-md-8 col-sm-12 col-sm-10 col-xs-12">
          <div class="email-signature">
            <div class="signature-img">
              <img src="data:image/jpeg;base64,{{currentProduct.picByte}}" alt="">
            </div>
            <div class="signature-details">
              <h2 class="title">{{currentProduct.name}}</h2>
              <span class="post">{{currentProduct.marque}}</span><br>
              <span class="description">{{currentProduct.description}}</span>

            </div>
            <ul class="signature-content">
              <li><span class="fa fa-money"></span> {{currentProduct.currentPrice}} TND</li>
              <li><span class="fa fa-minus"></span> {{currentProduct.pourcentage}} %</li>
              <li><span class="fa fa-credit-card-alt"></span>{{currentProduct.currentPrice-(currentProduct.currentPrice*(currentProduct.pourcentage/100))}}TND</li>
            </ul>
            <ul class="icon">
              <a (click)="ajouterItem(currentProduct)" class="btn btn-lg blue"><i class="fa fa-shopping-basket"></i>Ajouter au panier</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<div  *ngIf="admin=='true'">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-2">
    </div>




    <div class="col-md-offset-2 col-md-8">


      <div class="col-sm-5">
        <img class="d-block w-50" src="data:image/jpeg;base64,{{currentProduct.picByte}}" alt="">
        <div class="col-md-4">
          <input type="file" (change)="onFileChanged($event)">
        </div>
        <div class="col-md-4">
          <input type="button" (click)="onUpload(idproduit)" value="Modifier Image">
        </div>
      </div>






      <form class="form-horizontal"  #UpdateProduitForm="ngForm">
        <div class="header">Modifier un produit</div>

        <div class="form-content">


          <div class="form-group">

            <label class="form-label">Nom</label>
            <div class="col-sm-12">
              <input
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="currentProduct.name"
                type="text"
                #nameInput="ngModel"
                required
                ngModel
                name="name"
                aria-required="true"
              >
              <label class="control-label" for="name"><i class="fa fa-user"></i></label>
            </div>
            <div
              *ngIf="nameInput.invalid && nameInput.dirty"
              class="alert alert-danger"
            >
              Le nom est obliogatoire et doit être correct
            </div>



            <label class="form-label">Description</label>
            <div class="col-sm-12">
               <textarea
                 placeholder="Description *"
                 class="form-control"
                 rows="2"
                 value=""
                 [(ngModel)]="currentProduct.description"
                 #descriptionInput="ngModel"
                 required
                 ngModel
                 id="description"
                 name="description"
                 type="text"
                 required=""
                 aria-required="true"
               ></textarea>
              <label class="control-label" for="description"><i class="fa fa-envelope-o"></i></label>
            </div>
            <div
              *ngIf="descriptionInput.invalid && descriptionInput.dirty"
              class="alert alert-danger"
            >
              Le description est obliogatoire et doit être correct
            </div>




            <label class="form-label">Marque</label>
            <div class="col-sm-12">
              <select
                [(ngModel)]="currentProduct.marque"
                class="form-control"
                #marqueInput
                name="marque"
                required
                id="marque"
                ngModel
              >
                <option value="" selected="selected">Toutes les marques</option>
                <option value="Acer" >Acer</option>
                <option value="Alcatel">Alcatel</option>
                <option value="Altice">Altice</option>
                <option value="Amazon">Amazon</option> <!-- ~ -->
                <option value="Apple">Apple</option>
                <option value="Archos">Archos</option>
                <option value="Asus">Asus</option>
                <option value="Blackberry">Blackberry</option>
                <option value="Blackphone">Blackphone</option> <!-- ~ -->
                <option value="Blackview">Blackview</option> <!-- ~ -->
                <option value="Carrefour">Carrefour</option> <!-- ~ -->
                <option value="Crosscall">Crosscall</option>
                <option value="Cubot">Cubot</option>
                <option value="Danew">Danew</option>
                <option value="Doogee">Doogee</option>
                <option value="Doro">Doro</option>
                <option value="Echo">Echo</option>
                <option value="Elephone">Elephone</option>
                <option value="Essentielb">EssentielB</option> <!-- ~ -->
                <option value="Fairphone">Fairphone</option>
                <option value="Gigaset">Gigaset</option>
                <option value="Google">Google</option>
                <option value="Haier">Haier</option>
                <option value="Hisense">Hisense</option>
                <option value="Honor">Honor</option>
                <option value="Hp">Hp</option>
                <option value="Htc">HTC</option>
                <option value="Huawei">Huawei</option>
                <option value="Phone">IcePhone</option> <!-- ~ -->
                <option value="Infinix">Infinix</option> <!-- ~ -->
                <option value="Kazam">Kazam</option>
                <option value="Konrow">Konrow</option>
                <option value="Letv">Lenovo</option>
                <option value="LG">LG</option>
                <option value="Logicom">Logicom</option>
                <option value="Medion">Medion</option> <!-- ~ -->
                <option value="Meizu">Meizu</option>
                <option value="Microsoft">Microsoft</option>
                <option value="Motorola">Motorola</option>
                <option value="Neffos">Neffos</option>
                <option value="Nokia">Nokia</option>
                <option value="Nvidia">Nvidia</option> <!-- ~ -->
                <option value="Obi">Obi</option>
                <option value="OnePlus">OnePlus</option>
                <option value="Oppo">Oppo</option>
                <option value="Orange">Orange</option>
                <option value="Ordissimo">Ordissimo</option>
                <option value="Oukitel">Oukitel</option>
                <option value="Panasonic">Panasonic</option> <!-- ~ -->
                <option value="Polaroid">Polaroid</option> <!-- ~ -->
                <option value="Qilive">Qilive</option>
                <option value="Realme">Realme</option>
                <option value="Samsung">Samsung</option>
                <option value="Selecline">Selectine</option>
                <option value="Sony">Sony</option>
                <option value="Sosh">Sosh</option>
                <option value="SFR">SFR</option>
                <option value="TCL">TCL</option> <!-- ~ -->
                <option value="Thomson">Thomson</option> <!-- ~ -->
                <option value="Ulefone">Ulefone</option> <!-- ~ -->
                <option value="Vivo">Vivo</option>
                <option value="Wiko">Wiko</option>
                <option value="Wileyfox">WileyFox</option>
                <option value="Xiaomi">Xiaomi</option>
                <option value="Yess">Yezz</option> <!-- ~ -->
                <option value="Zte">Zte</option>
              </select>
            </div>
            <div
              *ngIf="marqueInput.invalid && marqueInput.dirty"
              class="alert alert-danger"
            >
              La marque obligatoire
            </div>


            <label class="form-label">Quantité disponible</label>
            <div class="col-sm-12">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="currentProduct.quantity"
                #quantityInput="ngModel"
                required
                ngModel
                name="quantity"
                aria-required="true"
                id="quantity"
                min="0"
              >
            </div>
            <div
              *ngIf="quantityInput.invalid && quantityInput.dirty"
              class="alert alert-danger"
            >
              La quantite est obligatoire
            </div>
          </div>




          <div class="form-group">
            <label class="form-label">Prix unitaire</label>
            <div class="col-sm-12">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="currentProduct.currentPrice"
                #currentPriceInput="ngModel"
                required
                ngModel
                name="currentPrice"
                aria-required="true"
                id="currentPrice"
                min="0"
              >
            </div>
            <div
              *ngIf="currentPriceInput.invalid && currentPriceInput.dirty"
              class="alert alert-danger"
            >
              Le prix est obligatoire
            </div>



            <label class="form-label">Pourcentage</label>
            <div class="col-sm-12">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="currentProduct.pourcentage"
                #pourcentageInput="ngModel"
                required
                ngModel
                name="pourcentage"
                aria-required="true"
                id="pourcentage"
                min="0"
              >
            </div>
            <div
              *ngIf="pourcentageInput.invalid && pourcentageInput.dirty"
              class="alert alert-danger"
            >
              Le pourcentageInput est obligatoire
            </div>
          </div>


            <div class="form-group">
              <label class="form-label">Promotion</label>
              <div class="col-sm-12 form-check form-switch">
                <input
                  value="currentProduct.promotion"
                  class="form-check-input"
                  type="checkbox"
                  id="promotion"
                  name="promotion"
                  #promotion
                  (change)="onPromo(promotion.checked)"
                  checked
                >
              </div>




              <label class="form-label">Disponibilité</label>
              <div class="col-sm-12 form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="available"
                  name="available"
                  #available
                  (change)="onDispo(available.checked)"
                  checked
                >
              </div>
            </div>


          </div>



        <div class="footer clearfix">
          <button
            type="submit"
            class="btn btn-default"
            (click)=" ModifierProduit(UpdateProduitForm.value, currentProduct)"
            [disabled]="UpdateProduitForm.invalid"
          >Modifier Produit</button>
        </div>

      </form>
    </div>

  </div>
</div>
</div>

