
.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background: #35b0ab;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 2rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #35b0ab;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #35b0ab;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #35b0ab;
  font-weight: 600;
  text-decoration: none;
}



.table {
  margin: auto;
  width: 50% !important;
}











.btn{
  position: relative;
  color:#fff;
  border-radius:30px;
  text-transform: uppercase;
  transform: scale(1.1,1.1);
  transition:all 0.3s ease-out 0s;
}
.btn:hover{
  transform: scale(1,1);
  color:#fff;
}
.btn i{
  margin-right:15px;
  color:#fff;
}
.btn:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left:0px;
  width:100%;
  height: 10px;
  filter: blur(20px);
  border-radius: 30px;
  display: inline-block;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}
.btn:hover:before{
  bottom:0;
  filter: blur(10px);
}
.btn.blue{
  background: linear-gradient(to left, #7474bf , #35b0ab);
}
.btn.blue:before{
  background: linear-gradient(to right,#7474bf,#35b0ab);
}



/*
body {
  background-color:  #eee;
}
.title {

  margin-bottom: 50px;
  text-transform: uppercase;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;

}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top:20px;
}

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators .active {
  background-color: white;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}




.btn {
  margin-top: auto;
}

*/


.email-signature{
  background: linear-gradient(45deg, #ededed,#fff,#fff,#ededed,#fff,#fff,#ededed,#fff,#fff,#ededed);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px 20px 20px;
  border-radius: 100px 70px 0;
  box-shadow: 0 0 40px -25px #333;
  position: relative;
  z-index: 1;
}
.email-signature:before{
  content: '';
  background: linear-gradient(#2fefb2,#0B989B);
  height: 150px;
  width: 155px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}
.email-signature .signature-img{
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}
.email-signature .signature-img img{
  width: 100%;
  height: auto;
}
.email-signature .signature-details{
  color: #333;
  margin-bottom: 15px;
}
.email-signature .title{
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.email-signature .post{
  color: #2fefb2;
  font-size: 16px;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.email-signature .description{
  color: #0f172a;
  font-size: 16px;
  /*font-style: italic;
  text-transform: capitalize;
  letter-spacing: 1px;*/
}
.email-signature .signature-content{
  padding: 0;
  margin: 0 auto 10px;
  list-style: none;
  display: inline-block;
}
.email-signature .signature-content li{
  color: #555;
  font-size: 15px;
  text-align: left;
  padding: 0 0 0 20px;
  margin: 0 7px 5px 0;
  vertical-align: top;
  display: inline-block;
}
.email-signature .signature-content li span{
  color: #2fefb2;
  margin-right: 5px;
}
.email-signature .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.email-signature .icon li{ display: inline-block; }
.email-signature .icon li a{
  color: #fff;
  background: linear-gradient(#2fefb2,#0B989B);
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: block;
  transition: all 0.3s;
}
.email-signature .icon li a:hover{ box-shadow: 0 0 5px #2fefb2, 0 0 0 2px #fff inset; }
@media screen and (max-width:576px){
  .email-signature{ border-radius: 20px 10px 0;}
}
