
<!--
<div *ngIf="currentProduct">
  <div class="panel panel-default" ><!--*ngIf="mode==0"-->
  <!--  <div class="panel-heading">Fiche Produit : {{currentProduct.name}}
      <span class="glyphicon glyphicon-edit pull-right btn" (click)="onEditProduct()"></span>
    </div>
    <div class="panel-body">
      <div class="col-md-5">
        <img class="img-thumbnail" [src]="this.catalService.host+'/photoProduct/'+currentProduct.id+'?ts='+getTS()"/>
        <div *ngIf="this.authService.isAdmin()">
          <button *ngIf="!editPhoto" (click)="onEditPhoto(currentProduct)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <span *ngIf="editPhoto">
            <input type="file" (change)="onSelectedFile($event)">
            <button class="btn btn-success btn-sm" (click)="uploadPhoto()">
              <span class="glyphicon glyphicon-upload"></span>
            </button>
            {{progress}}
          </span>
        </div>

        <div>
        <span *ngIf="currentProduct.promotion">
                <img src="assets/images/promo.png" class="img-thumbnail img-circle" height="30">
              </span>
          <span *ngIf="currentProduct.selected">
                <img src="assets/images/favorite.png" class="img-thumbnail img-circle" height="30">
              </span>
          <span *ngIf="currentProduct.available">
                <img src="assets/images/available.png" class="img-thumbnail img-circle"  height="30">
              </span>
        </div>
        <div>
          <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(currentProduct)">
            <label class="control-label">Quantité :</label>
            <input type="number" name="quantity" [(ngModel)]="currentProduct.quantity" ngModel style="width: 40px">
            <button>
              <img src="assets/images/caddy.png">
            </button>
          </form>
        </div>

      </div>
      <div class="col-md-7">
        <div class="panel panel-default" style="min-height: 300px">
          <div class="panel-body">
            <label>Price : {{currentProduct.currentPrice|number:'0.00'}}</label>
          </div>
          <div class="panel-body">
            Description :{{currentProduct.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mode==1">
    <form #f="ngForm" (ngSubmit)="onUpdateProduct(f.value)">
      <div class="form-group">
        <label class="control-label">Name:</label>
        <input type="text" name="name" ngModel [(ngModel)]="currentProduct.name" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Description:</label>
        <textarea name="description" ngModel [(ngModel)]="currentProduct.description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Price:</label>
        <input type="text" name="currentPrice" ngModel [(ngModel)]="currentProduct.currentPrice" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Promotion:</label>
        <input type="checkbox" name="promotion" ngModel [(ngModel)]="currentProduct.promotion" >
      </div>
      <div class="form-group">
        <label class="control-label">Sélection:</label>
        <input type="checkbox" name="selected" ngModel [(ngModel)]="currentProduct.selected" >
      </div>
      <div class="form-group">
        <label class="control-label">Available:</label>
        <input type="checkbox" name="available" ngModel [(ngModel)]="currentProduct.available" >
      </div>
      <button class="btn btn-success" type="submit">Update</button>
    </form>
  </div>
</div>


-->
<!--

<div class="container">
<div class="row">
  <div class="col-lg-5    col col-sm col-md		col-xl col-xs mb-5">
    <img class="img-thumbnail" src="assets/image/unknown.png"/>

  </div>
  <div class="col-lg-7    col col-sm col-md		col-xl col-xs mb-5">
    {{currentProduct.marque}} <br>
    {{currentProduct.name}} <br>
    {{currentProduct.description}} <br>
    {{currentProduct.currentPrice}} <br>
  </div>
</div>
</div>

-->


<div  *ngIf="admin=='true'">
  <div class="row">
        <div class="col-sm-5">
          <img class="d-block w-50" src="assets/image/unknown.png" alt="">
        </div>

    <!-- formulaire de modification -->
        <div class="col-sm-7  login-form-2">
          <div class="card-block">
            <!--           <h4 class="card-title">Small card</h4> -->
            <p>{{currentProduct.marque}}</p>
            <b *ngIf="this.currentProduct.available" class="text-success">Availablity: Disponible</b>
            <b *ngIf="!this.currentProduct.available" class="text-danger">Availablity: InDisponible</b>
            <p>{{currentProduct.description}}</p>
            <h5>Prix: {{currentProduct.currentPrice}} TND</h5>
            <br>
            <div>
              <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(currentProduct)">
                <label class="control-label">Quantité :</label>
                <input type="number" name="quantity" [(ngModel)]="currentProduct.quantity" ngModel style="width: 40px">
                <button>
                  <img src="assets/image/caddy.png">
                </button>
              </form>
            </div>
            <a href="#" class="btn btn-primary btn-sm float-right">Read More</a>
          </div>
        </div>



    <div class="container row">
      <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
      </div>
      <div class="col-md-6">
        <input type="button" (click)="onUpload(idproduit)" value="upload">
      </div>
    </div>
    <hr />
    <div class="container row">
      <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
      </div>
    </div>


    <div class="container row">
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
               name="name" />
      </div>
      <div class="col-md-6">
        <input type="button" (click)="getImage1(idproduit)" value="Get Image">
      </div>
    </div>


    <div class="container row">
      <div class="col-md-12">
        <div *ngIf=retrievedImage>
          <img [src]="retrievedImage" >
        </div>
      </div>
    </div>




  </div>
</div>








<div *ngIf="currentProduct && admin==undefined">
<div class="container py-3">
  <div class="title h1 text-center">{{currentProduct.name}}</div>
</div>

<div class="container">
  <div class="card float-right">
    <div class="row">
      <div class="col-sm-5">
        <img class="d-block w-100" src="assets/image/unknown.png" alt="">
      </div>
      <div class="col-sm-7">
        <div class="card-block">
          <!--           <h4 class="card-title">Small card</h4> -->
          <p>{{currentProduct.marque}}</p>
          <b *ngIf="this.currentProduct.available" class="text-success">Availablity: Disponible</b>
          <b *ngIf="!this.currentProduct.available" class="text-danger">Availablity: InDisponible</b>
          <p>{{currentProduct.description}}</p>
          <h5>Prix: {{currentProduct.currentPrice}} TND</h5>
          <br>
          <div>
            <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(currentProduct)">
              <label class="control-label">Quantité :</label>
              <input type="number" name="quantity" [(ngModel)]="currentProduct.quantity" ngModel style="width: 40px">
              <button>
                <img src="assets/image/caddy.png">
              </button>
            </form>
          </div>
          <a href="#" class="btn btn-primary btn-sm float-right">Read More</a>
        </div>
      </div>

    </div>
  </div>
</div>

<br>
<br>
<app-contenu></app-contenu>
<app-footer></app-footer>
</div>










