
.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background: #35b0ab;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 2rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #35b0ab;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #35b0ab;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #35b0ab;
  font-weight: 600;
  text-decoration: none;
}



.table {
  margin: auto;
  width: 50% !important;
}











.btn{
  position: relative;
  color:#fff;
  border-radius:30px;
  text-transform: uppercase;
  transform: scale(1.1,1.1);
  transition:all 0.3s ease-out 0s;
}
.btn:hover{
  transform: scale(1,1);
  color:#fff;
}
.btn i{
  margin-right:15px;
  color:#fff;
}
.btn:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left:0px;
  width:100%;
  height: 10px;
  filter: blur(20px);
  border-radius: 30px;
  display: inline-block;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}
.btn:hover:before{
  bottom:0;
  filter: blur(10px);
}
.btn.blue{
  background: linear-gradient(to left, #7474bf , #35b0ab);
}
.btn.blue:before{
  background: linear-gradient(to right,#7474bf,#35b0ab);
}



/*
body {
  background-color:  #eee;
}
.title {

  margin-bottom: 50px;
  text-transform: uppercase;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;

}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top:20px;
}

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators .active {
  background-color: white;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}




.btn {
  margin-top: auto;
}

*/
