

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <h4 class="title pull-left">Tous les Clients</h4>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table" width="60%" >
            <thead>
            <tr>
              <th>Numéro</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>Ville</th>
              <th>Adresse</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>


            <tr  *ngFor="let client of tousClient._embedded.clients | paginate: { itemsPerPage: 4, currentPage: p }">
              <td>{{client.id}}</td>
              <td>{{client.nom}}</td>
              <td>{{client.prenom}} </td>
              <td>{{client.telephone}}</td>
              <td>{{client.email}}</td>
              <td>{{client.ville}} </td>
              <td>{{client.address}} </td>
              <td>
                <ul class="action-list">
                  <li><a (click)="supprimerClient(client.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <pagination-controls class="my-pagination" (pageChange)="p = $event"
                             directionLinks="true"
                             autoHide="true"
                             responsive="true"
                             previousLabel="Previous"
                             nextLabel="Next"
                             screenReaderPaginationLabel="Pagination"
                             screenReaderPageLabel="page"
        ></pagination-controls>
      </div>
    </div>

  </div>
</div>


