
<div class="divider py-5 bg-light"></div>

<div  *ngIf="existe=='0' || existe==null" >
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-sm-6">
      </div>
      <div class="col-12 col-md-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon">
            <span><i class="fa fa-cart-arrow-down"></i></span>
          </div>
          <h3 class="title">Panier vide</h3>
          <p class="description">Il n’y a plus d’articles dans votre panier Commencez vos achats !</p>
          <a (click)="ContinuerShopping()" class="read-more">Shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container"  *ngIf="existe!=null ||  existe!=0">
  <div class="row">
    <div class="col-md-offset-1 col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <h4 class="title pull-left">Vos produits</h4>
              <a (click)="ContinuerShopping()"  class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter produit</a>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table  position" width="60%" >
            <thead>
            <tr>
              <th width="17%">Image</th>
              <th width="5%">Reference</th>
              <th width="30%" >Prix</th>
              <th width="17%">Quantité</th>
              <th width="17%">Total</th>
              <th width="17%">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let item of Items._embedded.productItems">
              <td>
                <div class="user_icon">
                  <img src="data:image/jpeg;base64,{{item.picByte}}" alt="">
                </div>
              </td>
              <td width="5%">{{item.name}}</td>
              <td>
                <p class="line">{{item.prixUn}}</p>
                <small class="d-block">{{item.pourcentage}} %</small>
                {{item.prixUn-(item.prixUn*item.pourcentage)/100 | number}} TND
              </td>

              <td><input (click)=modifierQuantit(item.id,item,inputQuntite.value) type="number" #inputQuntite class="form-control text-center" value="1" min="0"></td>
              <td>{{item.prixtotalproduit}}</td>
              <td>
              <ul class="action-list">
                <li><a (click)="supprimerItem(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
              </ul>
            </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <h4 class="title pull-left">Commander</h4>
              <a (click)="CreationCommande()"   class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> {{total+7000  }} TND</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






  <div *ngIf="Items!=undefined">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xl-8"></div>
        <div class="col-md-8 col-sm-9 col-xl-4">
          <div class="pricingTable green">
            <div class="pricingTable-header">
                <h3 class="title">Recap Panier</h3>
            </div>
            <div class="price-value">
              <span class="amount">{{total+7000  }} </span>
              <span class="month">TND</span>
            </div>
            <ul class="pricing-content">
              <li>Total sans remise : {{prixsansremise | number}} TND</li>
              <li>Total avec remise: {{total}} TND</li>
              <li>Frais de livraison: 7000 TND</li>
              <li>Total à payer:{{total+7000  }} TND</li>
            </ul>
            <a (click)="CreationCommande()" class="pricingTable-signup"><i class="fa fa-forward" aria-hidden="true"></i>Payer</a>
          </div>
        </div>
      </div>
    </div>

</div>
<div class="divider py-5 bg-light"></div>






