
.line {
  text-decoration: line-through;
}

.position{
 /* position: sticky;*/
  top: 300px;
  padding: 10px;
  margin: 10px;
}

.position2{
  width: 30%;
  margin-left: auto;
}


/***
***/

/*
.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
*/









.panel{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  border: none;
}
.panel .panel-heading{
  background: #35b0ab;
  padding: 15px;
  margin: 0 0 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.panel .panel-heading .title{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  text-transform: capitalize;
  margin: 0 10px 0 0;
}
.panel .panel-heading .btn{
  color: #35b0ab;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.panel .panel-body{
  padding: 0 0;
  margin: 0 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.panel .panel-body .table thead tr th{
  color: #333;
  background: linear-gradient(transparent, #f6f6f6);
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  border-bottom: none;
}
.panel .panel-body .table thead tr th:nth-of-type(2){ width: 50%; }
.panel .panel-body .table tbody tr td{
  color: #555;
  background: linear-gradient(transparent,#f6f6f6);
  font-size: 15px;
  padding: 10px;
  vertical-align: middle;
  border-color: #ddd;
}
.panel .panel-body .table tbody .form-control:focus{
  border-color: #35b0ab;
  box-shadow: 0 0 4px #35b0ab;
}
.panel .panel-body .table tbody .user_icon{
  height: 55px;
  width: 55px;
}
.panel .panel-body .table tbody .user_icon img{
  width: 100%;
  height: auto;
}
.panel .panel-body .table tbody .action-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li{ display: inline-block; }
.panel .panel-body .table tbody .action-list li a{
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  width: 28px;
  padding: 0;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ box-shadow: 0 0 5px #ddd; }
.panel .panel-footer{
  color: #fff;
  background: #35b0ab;
  font-size: 16px;
  line-height: 33px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pagination{ margin: 0; }
.pagination li a{
  color: #fff;
  background-color: rgba(255,255,255,0.3);
  font-size: 15px;
  font-weight: 700;
  margin: 0 2px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
  color: #35b0ab;
  background-color: #fff;
}
@media only screen and (max-width:479px){
  .panel .panel-heading{ text-align: center; }
  .panel .panel-heading .title{
    float: none !important;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn{ float: none !important; }
}




/****


****
 */

.serviceBox{
  background: #fff;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  padding: 45px 10px 25px;
  border-radius: 48% 48% 0 0/40% 40% 0 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 7px #35b0ab inset;
}
.serviceBox .service-icon{
  background: linear-gradient(to right,#0090b0,#35b0ab);
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 25px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.serviceBox .title{
  color: #777;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox .description{
  color: #999;
  font-size: 14px;
  line-height: 24px;
  margin: 0 5px 20px;
}
.serviceBox .read-more{
  color: #fff;
  background: linear-gradient(to right, #0090b0,#35b0ab);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 170px;
  padding: 7px 0;
  margin: 0 0 0 -20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 20px 0 0;
  display: block;
  position: relative;
  transition: all 0.3s ease 0s;
}
.serviceBox .read-more:hover{ text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5); }
.serviceBox .read-more:before,
.serviceBox .read-more:after{
  content: "";
  background: linear-gradient(to top left,#0090b0 49%,transparent 50%);
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
.serviceBox .read-more:after{
  transform: rotateX(180deg);
  top: auto;
  bottom: -10px;
}




/**** css total somme***/

.pricingTable{
  background-color: #d3d4d5;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 0 0 15px;
  margin: 0 10px;
  border-radius: 20px 20px 150px 150px;
}
.pricingTable .pricingTable-header{
  background-color: #D3D4D5;
  padding: 10px;
  margin: 0 0 -10px;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 2;
}
.pricingTable .title{
  color: #f73636;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.pricingTable .price-value{
  color: #fff;
  background-color: #f73636;
  padding: 20px 40px;
  margin: 0 -10px;
  position: relative;
  z-index: 1;
}
.pricingTable .price-value:before,
.pricingTable .price-value:after{
  content: '';
  background-color: #d60202;
  height: 15px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: -1;
}
.pricingTable .price-value:after{
  top: auto;
  bottom: -5px;
}
.pricingTable .amount{
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  display: block;
}
.pricingTable .month{
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.pricingTable .pricing-content{
  background-color: #D3D4D5;
  padding: 15px;
  margin: -10px 0 20px 0;
  list-style: none;
  position: relative;
  z-index: 1;
}
.pricingTable .pricing-content li{
  color:  rgba(0,0,0,0.8);
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px 10px 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.pricingTable .pricingTable-signup{
  color: #fff;
  background-color: #f73636;
  font-size: 15px;
  font-weight: 800;
  line-height: 75px;
  height: 100px;
  width: 100px;
  border: 7px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
  display:inline-block;
  position: relative;
  transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup:hover{
  color: #D3D4D5;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.2);
}
.pricingTable .pricingTable-signup:after{
  content: "\f061";
  color: #D3D4D5;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
.pricingTable.green .title{ color: #35b0ab; }
.pricingTable.green .price-value{ background-color: #35b0ab; }
.pricingTable.green .price-value:before,
.pricingTable.green .price-value:after{
  background-color: #2f7a75;
}
.pricingTable.green .pricingTable-signup{ background-color: #35b0ab; }
