
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <h4 class="title pull-left">Tous les produits</h4>
              <form class="navbar-form navbar-right" #rechercheForm="ngForm" >
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="search..."
                    class="form-control"
                    [(ngModel)]="motarechercher"
                    #motarechercherInput="ngModel"
                    id="motarechercher"
                    name="motarechercher">
                  <span class="input-group-btn">
            <button class="btn btn-default" (click)="chercherUnProduit(rechercheForm)">Go</button>
          </span>
                </div>
              </form>

              <select
                [(ngModel)]="idCat"
                class="form-control"
                id="exampleFormControlSelect1"
                #idCatInput
                name="idCat"
                required
                ngModel
                (click)="Selectcategorie()"
              >
                <option value="0" selected="selected">Tous Les Produits</option>
                <option value="1">Telephone</option>
                <option value="2">Tablette</option>
                <option value="3">Produits apple</option>
                <option value="4">Coque iphone</option>
                <option value="5">Airpods</option>
                <option value="6">Haut parleur</option>
                <option value="7">Smart watch</option>
                <option value="8">Accessoires</option>
                <option value="9">Cache</option>
                <option value="10">Pochette</option>
                <option value="11">Camera</option>
                <option value="12">Divers</option>
              </select>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table  position" width="60%" >
            <thead>
            <tr>
              <th>Numéro</th>
              <th>Image</th>
              <th>Modifier Image</th>
              <th>Nom</th>
              <th>Marque</th>
              <th>Quantité</th>
              <th>Prix unitaire</th>
              <th>Promo</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let produit of tousProduits._embedded.products
                  | paginate: { itemsPerPage: 20, currentPage: p }">
              <td>{{produit.id}}</td>
              <td>
                <div class="user_icon">
                  <img src="data:image/jpeg;base64,{{produit.picByte}}" alt="">
                </div>
              </td>
              <td>
                <input type="file" (change)="onFileChanged($event)">
                <input type="button" (click)="onUpload(produit.id)" value="Modifier Image">
              </td>
              <td>{{produit.name}}</td>
              <td>{{produit.marque}} </td>
              <td>{{produit.quantity}}</td>
              <td>{{produit.currentPrice}} TND</td>
              <td>{{produit.pourcentage}} %</td>
              <td>
                <ul class="action-list">
                  <li><a (click)="modifierproduit(produit)" class="btn btn-success"><i class="fa fa-wrench"></i></a></li>
                  <li><a (click)="supprimerproduit(produit)" class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls class="my-pagination" (pageChange)="p = $event"
                             directionLinks="true"
                             autoHide="true"
                             responsive="true"
                             screenReaderPaginationLabel="Pagination"
                             screenReaderPageLabel="page"
        ></pagination-controls>


      </div>
    </div>

  </div>
</div>

