
/********** css form***********/

form{
  font-family: 'Roboto', sans-serif;
}
.form-horizontal .header{
  background: #35b0ab;
  padding: 30px 25px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
}
.form-horizontal .form-content{
  padding: 25px;
  background: #f9fafd;
}
.form-horizontal .form-control{
  padding: 10px 50px 10px 15px;
  height: 50px;
  font-size: 18px;
  color: #000;
  border: 2px solid #6aacaa;
  margin-bottom: 15px;
}
.form-horizontal .form-control:hover{
  border-color: #f6fff1;
}
.form-horizontal .form-control:focus{
  border-color: #35b0ab;
  box-shadow: none;
}
.form-horizontal .control-label{
  width: 42px;
  height: 40px;
  font-size: 17px;
  color: #acacac;
  border-left: 1px solid #acacac;
  position: absolute;
  top: 5px;
  right: 20px;
  text-align: center;
}
.form-horizontal .captcha{
  padding-right: 0;
}
.form-horizontal .captcha label{
  background: #e0e0e0;
  display: block;
  height: 50px;
  font-size: 16px;
  color: #acacac;
  line-height: 45px;
  text-align: center;
  border-radius: 3px 0 0 3px;
}
.form-horizontal .captcha-text{
  padding-left: 0;
}
.form-horizontal .captcha-text input{
  border-radius: 0 3px 3px 0;
}
.form-horizontal .footer{
  background: #e8eaf6;
  border-top: 1px solid #35b0ab;
  padding: 10px 25px;
}
.form-horizontal .footer .btn{
  background: #35b0ab;
  font-size: 18px;
  color: #fff;
  float: right;
  margin: 10px 0;
  clear: both;
  padding: 10px 25px;
  transition: all 0.5s ease 0s;
}
.form-horizontal .name{
  padding: 10px 15px;
}
@media only screen and (max-width:767px){
  .form-horizontal .control-label i{
    line-height: 40px;
  }
  .form-horizontal .captcha label{
    font-size: 13px;
  }
}




/********** css card***********/

.main-timeline{
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: calc(50% + 2.5px);
  float: right;
  position: relative;
}
.main-timeline .timeline-content{
  color: #555;
  min-height: 130px;
  padding: 20px 0 20px 170px;
  border-bottom: 5px solid #e7e7e7;
  border-left: 5px solid #e7e7e7;
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
  content: '';
  height: 60px;
  width: 60px;
  border-top: 35px solid #93d3ab;
  border-left: 35px solid #93d3ab;
  transform: translateY(-50%);
  position: absolute;
  left: -20px;
  top: 50%;
}
.main-timeline .timeline-icon{ font-size: 25px; }
.main-timeline .timeline-year{
  color: #fff;
  background: linear-gradient(to right bottom, #4dffbf,#93d3ab);
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  margin: 0 0 5px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 55px;
  top: 50%;
}
.main-timeline .title{
  color: #93d3ab;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.main-timeline .description{
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: left; }
.main-timeline .timeline:nth-child(even) .timeline-content{
  padding: 20px 170px 20px 0;
  border-left: none;
  border-right: 5px solid #e7e7e7;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
  transform: translateY(-50%) rotateY(180deg);
  left: auto;
  right: -20px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
  transform: translateY(-50%);
  left: auto;
  right: 55px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ border-color: #01859F; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year{
  background: linear-gradient(to right bottom,#01859F,#15AAA3);
}
.main-timeline .timeline:nth-child(4n+2) .title{ color: #01859F; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ border-color: #0159C0; }
.main-timeline .timeline:nth-child(4n+3) .timeline-year{
  background: linear-gradient(to right bottom,#0159C0,#0481CB);
}

@media screen and (max-width:576px){
  .main-timeline{ padding: 0; }
  .main-timeline .timeline{ margin: 0 0 23px; }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 100px 20px 20px;
    border-left: none;
    border-right: none;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: translateY(0);
    left: 0;
    right: auto;
    top: 0;
  }
  .main-timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year{
    transform: translateY(0);
    left: auto;
    right: 0;
    top: 0;
  }
}
.form-label{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #35b0ab;
}






/**** css total commander***/
.serviceBox{
  background: #fff;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  padding: 45px 10px 25px;
  border-radius: 48% 48% 0 0/40% 40% 0 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 7px #35b0ab inset;
}
.serviceBox .service-icon{
  background: linear-gradient(to right,#0090b0,#35b0ab);
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 25px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.serviceBox .title{
  color: #777;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox .description{
  color: #999;
  font-size: 14px;
  line-height: 24px;
  margin: 0 5px 20px;
}
.serviceBox .read-more{
  color: #fff;
  background: linear-gradient(to right, #0090b0,#35b0ab);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 170px;
  padding: 7px 0;
  margin: 0 0 0 -20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 20px 0 0;
  display: block;
  position: relative;
  transition: all 0.3s ease 0s;
}
.serviceBox .read-more:hover{ text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5); }
.serviceBox .read-more:before,
.serviceBox .read-more:after{
  content: "";
  background: linear-gradient(to top left,#0090b0 49%,transparent 50%);
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
.serviceBox .read-more:after{
  transform: rotateX(180deg);
  top: auto;
  bottom: -10px;
}




/**** css box pas commande***/

.pricingTable{
  background-color: #d3d4d5;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 0 0 15px;
  margin: 0 10px;
  border-radius: 20px 20px 150px 150px;
}
.pricingTable .pricingTable-header{
  background-color: #D3D4D5;
  padding: 10px;
  margin: 0 0 -10px;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 2;
}
.pricingTable .title{
  color: #f73636;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.pricingTable .price-value{
  color: #fff;
  background-color: #f73636;
  padding: 20px 40px;
  margin: 0 -10px;
  position: relative;
  z-index: 1;
}
.pricingTable .price-value:before,
.pricingTable .price-value:after{
  content: '';
  background-color: #d60202;
  height: 15px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: -1;
}
.pricingTable .price-value:after{
  top: auto;
  bottom: -5px;
}
.pricingTable .amount{
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  display: block;
}
.pricingTable .month{
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.pricingTable .pricing-content{
  background-color: #D3D4D5;
  padding: 15px;
  margin: -10px 0 20px 0;
  list-style: none;
  position: relative;
  z-index: 1;
}
.pricingTable .pricing-content li{
  color:  rgba(0,0,0,0.8);
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px 10px 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.pricingTable .pricingTable-signup{
  color: #fff;
  background-color: #f73636;
  font-size: 15px;
  font-weight: 800;
  line-height: 75px;
  height: 100px;
  width: 100px;
  border: 7px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
  display:inline-block;
  position: relative;
  transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup:hover{
  color: #D3D4D5;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.2);
}
.pricingTable .pricingTable-signup:after{
  content: "\f061";
  color: #D3D4D5;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
.pricingTable.green .title{ color: #35b0ab; }
.pricingTable.green .price-value{ background-color: #35b0ab; }
.pricingTable.green .price-value:before,
.pricingTable.green .price-value:after{
  background-color: #2f7a75;
}
.pricingTable.green .pricingTable-signup{ background-color: #35b0ab; }
