
<form #PaiementForm="ngForm">
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Info Paiment</h3>

      <div class="form-group p-2">
        <label for="nom" class="small text-muted mb-1">Nom et prénom</label>
        <input
          type="text"
          class="form-control"
          placeholder="Adresse *"
          value=""
          [(ngModel)]="nom"
          required
          ngModel
          id="nom"
          name="nom"
          #nomInput="ngModel"
          minlength="3"
          aria-describedby="helpId"
          aria-required="true"
        />
        <div
          *ngIf="nomInput.invalid && nomInput.dirty"
          class="alert alert-danger"
        >
          Il faut saisie votre nom et prénom
        </div>
      </div>



      <div class="form-group p-2">
      <label for="numeroCarte" class="small text-muted mb-1">Numéro carte bancaire</label>
      <input
        type="text"
        class="form-control"
        placeholder="4534 5555 5555 5555"
        value=""
        [(ngModel)]="numeroCarte"
        required
        ngModel
        id="numeroCarte"
        name="numeroCarte"
        #numeroCarteInput="ngModel"
        aria-describedby="helpId"
        aria-required="true"
      />
      <div
        *ngIf="numeroCarteInput.invalid && numeroCarteInput.dirty"
        class="alert alert-danger"
      >
        Il faut saisie votre numéro de la carte bancaire
      </div>
    </div>



      <div class="form-group p-2">
    <label for="date" class="small text-muted mb-1">Date d'expiration</label>
    <input
      type="text"
      class="form-control"
      placeholder="06/21"
      value=""
      [(ngModel)]="date"
      required
      ngModel
      id="date"
      name="date"
      #dateInput="ngModel"
      aria-describedby="helpId"
      aria-required="true"
    />
    <div
      *ngIf="dateInput.invalid && dateInput.dirty"
      class="alert alert-danger"
    >
      Il faut saisie le date d'expiration
    </div>
  </div>


      <div class="form-group p-2">
  <label for="CVC" class="small text-muted mb-1">Cryptogramme CVC code</label>
  <input
    type="text"
    class="form-control"
    placeholder="183"
    value=""
    [(ngModel)]="CVC"
    required
    ngModel
    id="CVC"
    name="CVC"
    #CVCInput="ngModel"
    aria-describedby="helpId"
    aria-required="true"
  />
  <div
    *ngIf="CVCInput.invalid && CVCInput.dirty"
    class="alert alert-danger"
  >
    Il faut saisie le Cryptogramme CVC code
  </div>
</div>
</div>



    <div class="col-md-6 login-form-2">
      <h3>Info Commande</h3>


      <div class="row justify-content-between">
        <div class="col-auto col-md-7">
          <div class="media flex-column flex-sm-row">
            <div class="media-body my-auto">
              <div class="row ">
                <div class="col-auto">
                  <p class="mb-0">{{currentDate | date:'fullDate' : 'fr'}}</p><small class="text-muted">{{currentDate | date:'mediumTime' : 'fr'}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" pl-0 flex-sm-col col-auto my-auto">
          <p>{{statut}}</p>
        </div>

        <div class=" pl-0 flex-sm-col col-auto my-auto ">
          <p>{{reference}}</p>
        </div>
      </div>


      <hr class="my-2">


      <div class="row ">
        <div class="col">
          <div class="row justify-content-between">
            <div class="col-4">
              <p class="mb-1"><b>Total</b></p>
            </div>
            <div class="flex-sm-col col-auto">
              <p class="mb-1"><b>{{total}}</b></p>
            </div>
          </div>
          <hr class="my-0">
        </div>
      </div>

      <div class="row mb-5 mt-4 ">

        <p class="text-justify">Vos données personnelles seront utilisées pour le traitement de votre commande,
          vous accompagner au cours de votre visite du site web,
          et pour d’autres raisons décrites dans notre politique de confidentialité.</p>
      </div>
      <div>
        <input
          type="checkbox"
          id="scales"
          name="scales"
          required
        >

        <label for="scales">J’ai lu et j’accepte <a>les conditions générales</a></label>
      </div>

      <hr class="my-2">
      <div class="form-group p-2">
        <input
          type="submit"
          class="btnSubmit"
          value="paiment"
          (click)=paiment()
          [disabled]="PaiementForm.invalid"/>
      </div>


    </div>
  </div>
</div>
</form>


