
<div class="divider py-5 bg-light"></div>
<!-- trois marques -->
<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-6 col-xl-3 p-3"  *ngFor="let c of categories._embedded.categories">
      <div class="box">
        <img src="/assets/categorie/{{c.id}}.jpg" (click)="getProductsByCat(c.id)">
      <!--  <i class="{{c.icon}}" style="color: #93d3ab; font-size:100px"></i>-->
        <div class="box-content">
          <h3 class="title">{{c.name}}</h3>
        <!--  <span class="post">Web designer</span>-->
          <ul class="icon">
            <li><a (click)="getProductsByCat(c.id)"><i class="fa fa-search"></i></a></li>
          <!--  <li><a (click)="getProductsByCat(c.id)"><i class="fa fa-link"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="divider py-5 bg-light"></div>
<!-- tous les produits -->
<div class="container">
<h4 class="panel-title"> Nos produits </h4>
</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let p of produits._embedded.products" >
    <img (click)="onProductDetails(p.id)" src="data:image/jpeg;base64,{{p.picByte}}"  width="100%">
  </ng-template>
</owl-carousel-o>




<div class="divider py-5 bg-light"></div>
<!--- compteur --->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline1">
        <div class="timeline1">
          <a href="#" class="timeline-content1">
            <div class="timeline-year1">{{nombreProduits}}</div>
            <div class="timeline-icon1"><i class="fa fa-globe"></i></div>
            <h3 class="title1">Nombre des produits</h3>
            <p class="description1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
        <div class="timeline1">
          <a href="#" class="timeline-content1">
            <div class="timeline-year1">{{nombreclient}}</div>
            <div class="timeline-icon1"><i class="fa fa-rocket"></i></div>
            <h3 class="title1">Nombre des clients</h3>
            <p class="description1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
        <div class="timeline1">
          <a href="#" class="timeline-content1">
            <div class="timeline-year1">{{nombrecommande}}</div>
            <div class="timeline-icon1"><i class="fa fa-rocket"></i></div>
            <h3 class="title1">Nombre des commandes</h3>
            <p class="description1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="divider py-5 bg-light"></div>
<!-- les produits en promo -->
<div class="container">
  <h4 class="panel-title"> Nos promotion </h4>
</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let p of promoProduit._embedded.products" >
    <img (click)="onProductDetails(p.id)" src="data:image/jpeg;base64,{{p.picByte}}"  width="100%">
  </ng-template>
</owl-carousel-o>



<!--
<div class="divider py-5 bg-light"></div>
<!-- les produits disponible
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let p of dispoProduit._embedded.products" >
    <img (click)="onProductDetails(p.id)" src="data:image/jpeg;base64,{{p.picByte}}"  width="100%">
  </ng-template>
</owl-carousel-o>
-->





<div class="divider py-5 bg-light"></div>
<!-- les marques -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/entete/1.jpg" class="d-block w-100" alt="..." width="100%">
    </div>
    <div class="carousel-item">
      <img src="/assets/entete/2.jpg" class="d-block w-100" alt="..." width="100%">
    </div>
    <div class="carousel-item">
      <img src="/assets/entete/3.jpg" class="d-block w-100" alt="..." width="100%">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
            <div class="timeline-year">2022</div>
            <h3 class="title">Web Designing</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <div class="timeline-year">2021</div>
            <h3 class="title">Web Development</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
            <div class="timeline-year">2022</div>
            <h3 class="title">Web Designing</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <div class="timeline-year">2021</div>
            <h3 class="title">Web Development</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
