/* css nombre utilisateur
.main-timeline{
  font-family: 'Poppins', sans-serif;
  padding: 25px 0;
}
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: calc(50% + 2.5px);
  padding-top: 120px;
  margin: 0 0 -22px 5px;
  float: right;
}
.main-timeline .timeline-content{
  color: #666;
  text-align: center;
  min-height: 120px;
  padding: 15px;
  border-left: 5px solid #00DCAF;
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
  color: #fff;
  background-color: #00DCAF;
  font-size: 50px;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  line-height: 100px;
  height: 100px;
  width: 100px;
  transform: skewY(-10deg);
  position: absolute;
  left: -5px;
  top: -107px;
}
.main-timeline .timeline-year{
  color: #00DCAF;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin: 0 0 5px;
}
.main-timeline .title{
  color: #555;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.main-timeline .description{
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){
  margin: 0 5px -22px 0;
  float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
  border-left: none;
  border-right: 5px solid #00DCAF;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  transform: skewY(10deg);
  left: auto;
  right: -5px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ border-color: #0CBDD1; }
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ background-color: #0CBDD1; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ color: #0CBDD1; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ border-color: #03A5EA; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ background-color: #03A5EA; }
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ color: #03A5EA; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ border-color: #037ED4; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ background-color: #037ED4; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ color: #037ED4; }
@media screen and (max-width:767px){
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even){
    width: 100%;
    margin: 0 0 15px;
  }
}
*/


/** css cards *****/
.box{
  background: #00b2a9;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.box:hover{ box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
.box img{
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
}
.box:hover img{
  opacity: 0.7;
  transform: translateX(50px);
}
.box .box-content{
  color: #006a65;
  background: #fff;
  width: 200px;
  padding: 15px 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 40px;
  transition: all 0.35s ease-in-out;
}
.box:hover .box-content{
  opacity: 1;
  left: 20px;
}
.box .title{
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 1px;
}
.box .post{
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  display: block;
  margin: 0 0 10px;
}
.box .post:after{
  content: '';
  background-color: #eee;
  height: 2px;
  width: 100px;
  margin: 7px auto;
  display: block;
  clear: both;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.box .icon li{
  margin: 0 3px;
  display: inline-block;
}
.box .icon li a{
  color: #fff;
  font-size: 16px;
  line-height: 34px;
  width: 35px;
  height: 35px;
  box-shadow: inset 0 0 0 60px #00b2a9;
  border-radius: 50px;
  display: block;
  transition: all 0.5s ease 0s;
}
.box .icon li a:hover{
  color: #00b2a9;
  box-shadow: inset 0 0 0 1px #00b2a9;
}
@media only screen and (max-width:990px){
  .box{ margin: 0 0 30px; }
}


/*** css compteur ***/

.main-timeline1{ font-family: 'Poppins', sans-serif; }
.main-timeline1:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline1 .timeline1{
  width: calc(50% + 65px);
  padding: 0 123px 0 0;
  float: left;
}
.main-timeline1 .timeline-content1{
  color: #F63959;
  background: linear-gradient(to top,transparent 50%, #F63959 50%);
  text-align: center;
  min-height: 170px;
  padding: 15px;
  border-radius: 40px;
  display: block;
  position: relative;
  z-index: 1;
}
.main-timeline1 .timeline-content1:before{
  content: '';
  background-color: #fff;
  border-radius: 35px;
  position: absolute;
  left: 7px;
  right: 7px;
  top: 7px;
  bottom: 7px;
  z-index: -1;
}
.main-timeline1 .timeline-content1:hover{ text-decoration: none; }
.main-timeline1 .timeline-year1{
  color: #fff;
  background: linear-gradient(transparent 50%, #F63959 50%);
  font-size: 33px;
  line-height: 130px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: -123px;
  top: 50%;
  z-index: 1;
}
.main-timeline1 .timeline-year1:before{
  content: '';
  background-color: #F63959;
  border-radius: inherit;
  border: 10px solid #fff;
  position: absolute;
  left: 7px;
  right: 7px;
  top: 7px;
  bottom: 7px;
  z-index: -1;
}
.main-timeline1 .timeline-icon1{ font-size: 35px; }
.main-timeline1 .title1{
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.main-timeline1 .description1{
  color: #777;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 18px;
  margin: 0;
}
.main-timeline1 .timeline1:nth-child(even){
  padding: 0 0 0 123px;
  float: right;
}
.main-timeline1 .timeline1:nth-child(even) .timeline-year1{
  right: auto;
  left: -123px;
}
.main-timeline1 .timeline1:nth-child(4n+2) .timeline-content1{
  color: #4C39D3;
  background: linear-gradient(to top,transparent 50%, #4C39D3 50%);
  border-color: #4C39D3;
}
.main-timeline1 .timeline1:nth-child(4n+2) .timeline-year1{
  background: linear-gradient(transparent 50%, #4C39D3 50%);
}
.main-timeline1 .timeline1:nth-child(4n+2) .timeline-year1:before{ background: #4C39D3; }
.main-timeline1 .timeline1:nth-child(4n+3) .timeline-content1{
  color: #FC562E;
  background: linear-gradient(to top,transparent 50%, #FC562E 50%);
  border-color: #FC562E;
}
.main-timeline1 .timeline1:nth-child(4n+3) .timeline-year1{
  background: linear-gradient(transparent 50%, #FC562E 50%);
}
.main-timeline1 .timeline1:nth-child(4n+3) .timeline-year1:before{ background: #FC562E; }
.main-timeline1 .timeline1:nth-child(4n+4) .timeline-content1{
  color: #358AE6;
  background: linear-gradient(to top,transparent 50%, #358AE6 50%);
  border-color: #358AE6;
}
.main-timeline1 .timeline1:nth-child(4n+4) .timeline-year1{
  background: linear-gradient(transparent 50%, #358AE6 50%);
}
.main-timeline1 .timeline1:nth-child(4n+4) .timeline-year1:before{ background: #358AE6; }
@media screen and (max-width:767px){
  .main-timeline1 .timeline1{
    width: 100%;
    margin: 0 0 30px;
  }
}
@media screen and (max-width:576px){
  .main-timeline1 .timeline1,
  .main-timeline1 .timeline1:nth-child(even){
    padding: 123px 0 0 0;
  }
  .main-timeline1 .timeline-year1,
  .main-timeline1 .timeline1:nth-child(even) .timeline-year1{
    transform: translateY(0) translateX(-50%);
    left: 50%;
    right: auto;
    top: -123px;
  }
}


/*** css title ***/

.panel-title {
  display: block;
  padding: 10px 30px 10px 60px;
  margin: 0;
  background: #fff;
  font-size: 30px;
  font-weight: 700;
  color: #35b0ab;
  letter-spacing: 1px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}
